# Select Patients for Interictal Spike Detection

In [1]:
import numpy as np
import pandas as pd

Dr. Erin Conrad has validated the spike detector for patients. Patients whose PPV (car) value is lower than 70% should be discarded.

In [27]:
erin_df = pd.read_excel("../../Data/erin_spike_detector_validation.xlsx")
# Drop the ID column
erin_df = erin_df.drop(columns=["ID"])
# Drop rows that have NaNs
erin_df = erin_df.dropna()
# Drop rows where PPV (car) is lower than 0.70
erin_df = erin_df[erin_df["PPV (car)"] >= 0.70]
# Extract number from name
erin_df["hup_id"] = erin_df["name"].str.extract(r"(\d+)")
# Make hup_id column an integer
erin_df["hup_id"] = erin_df["hup_id"].astype(int)

In [28]:
erin_df

,name,# correct (out of 50) (car),PPV (car),# correct (out of 50) wake,PPV wake,# correct (out of 50) sleep,PPV sleep,hup_id
0,HUP100,46.0,0.92,45.0,0.90,46.0,0.92,100
2,HUP102,47.0,0.94,47.0,0.94,44.0,0.88,102
3,HUP105,46.0,0.92,43.0,0.86,47.0,0.94,105
4,HUP106,47.0,0.94,49.0,0.98,49.0,0.98,106
5,HUP107,49.0,0.98,45.0,0.90,48.0,0.96,107
...,...,...,...,...,...,...,...,...
114,HUP219,43.0,0.86,46.0,0.92,44.0,0.88,219
115,HUP221,44.0,0.88,42.0,0.84,46.0,0.92,221
116,HUP223,41.0,0.82,32.0,0.64,48.0,0.96,223
117,HUP224,45.0,0.90,48.0,0.96,45.0,0.90,224
118,HUP225,44.0,0.88,43.0,0.86,41.0,0.82,225

Join that with Nina's data.

In [29]:
nina_df = pd.read_excel("../../Data/HUP_implant_dates.xlsx")
# Make hup_id column int
nina_df["hup_id"] = nina_df["hup_id"].astype(int)
nina_df

,hup_id,IEEG_Portal_Number,Implant_Date,implant_time,Explant_Date,weight_kg
0,225,HUP225_phaseII,2021-10-18,07:15:00,2021-10-26 17:30:00,58.5
1,224,HUP224_phaseII,2021-10-13,07:15:00,2021-10-20 00:00:00,85.5
2,223,HUP223_phaseII,2021-09-29,07:15:00,2021-10-08 08:21:00,101.4
3,221,HUP221_phaseII,2021-08-16,07:15:00,2021-08-23 00:00:00,124.3
4,219,HUP219_phaseII,2021-07-12,07:15:00,2021-07-16 08:18:00,101.6
...,...,...,...,...,...,...
75,141,HUP141_phaseII,2017-05-24,07:15:00,2017-06-01 00:00:00,85.7
76,140,HUP140_phaseII_D01-D02,2017-05-10,07:15:00,2017-05-19 00:00:00,56.7
77,139,HUP139_phaseII,2017-04-26,07:15:00,2017-05-09 00:00:00,69.8
78,138,HUP138_phaseII,2017-04-12,07:15:00,2017-04-20 00:00:00,84.4
79,137,HUP137_phaseII_D01-D03,2017-03-22,07:15:00,2017-03-29 13:30:00,141.3

In [30]:
# Only keep the rows in erin_df whose hup_id is also in nina_df
erin_df = erin_df[erin_df["hup_id"].isin(nina_df["hup_id"])]
erin_df

,name,# correct (out of 50) (car),PPV (car),# correct (out of 50) wake,PPV wake,# correct (out of 50) sleep,PPV sleep,hup_id
33,HUP137,49.0,0.98,50.0,1.00,50.0,1.00,137
34,HUP138,47.0,0.94,49.0,0.98,49.0,0.98,138
35,HUP139,41.0,0.82,50.0,1.00,42.0,0.84,139
36,HUP140,38.0,0.76,23.0,0.46,44.0,0.88,140
37,HUP141,48.0,0.96,48.0,0.96,49.0,0.98,141
...,...,...,...,...,...,...,...,...
114,HUP219,43.0,0.86,46.0,0.92,44.0,0.88,219
115,HUP221,44.0,0.88,42.0,0.84,46.0,0.92,221
116,HUP223,41.0,0.82,32.0,0.64,48.0,0.96,223
117,HUP224,45.0,0.90,48.0,0.96,45.0,0.90,224
118,HUP225,44.0,0.88,43.0,0.86,41.0,0.82,225